awscli
bash_kernel
bash-kernel
bokeh
docutils
fastparquet
graphviz
h5py
imageio
ipywidgets
jupyter
jupyter-contrib-nbextensions
jupyter-tensorboard
keras
matplotlib
mxnet
numpy
pandas
pickleshare
pillow
psycopg2
pyarrow
pygments
requests
scikit-learn
scipy
seaborn
sqlalchemy
statsmodels
tensorflow
tflearn