bash_kernel
docutils
graphviz
h5py
imageio
jupyter
jupyter-contrib-nbextensions
jupyter-tensorboard
keras
matplotlib
mxnet
numpy
pandas
pillow
pygments
requests
scikit-learn
scipy
seaborn
sqlalchemy
statsmodels
tensorflow
tflearn